body{
    background-color: blueviolet;
    font: white;
}
 
body{
    font-style: white
     
    
    
}

body {
  background-image: url(Netflix.jpg)
}


body{font: italic;
}

div{background-color:blueviolet;

}

h1{border-style:dashed;

}