body{
    

background-color: blueviolet;

color: white;


background-image: url(Black\ and\ White\ Modern\ Clean\ Minimalist\ Creative\ Technology\ Logo\ \(1\).jpg);
background-repeat: no-repeat;
background-size: 2000px 855px;

}