body{

    background-color: black;


    background-color:orange ;

background-color: blueviolet;

font-style: white;
background-image: url(Black\ and\ White\ Modern\ Clean\ Minimalist\ Creative\ Technology\ Logo\ \(1\).jpg);

}